body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.taskItem {
  border: 1px solid #dcdde1;
  padding: 15px !important;
}

.taskItem .actions {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
.taskItem .content.completed {
  text-decoration-line: line-through;
}

.mt-80 {
  margin-top: 80px !important;
}
